@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-flow: column nowrap;
}

@layer components {
    a {
        @apply transition-colors hover:text-gray-700;
    }
}